@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #0F0F0F;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #FBBA12;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
